
{% extends 'Base.html' %}

{% block content %}
<div class="col-md-9 white_bg">
<div class="row">
<div class="col-md-12">
  <h1 class="">2<sup>nd</sup> Instalment Release</h1></div>
</div>
<form id="w0" method="post" enctype="multipart/form-data">
    {% csrf_token %}
<div class="row odd pt-2">
<div class="col-md-3"><div class="form-group">
<label class="control-label">Date of credit   </label>
{{ form.dateOfCredit }}
</div></div>
<div class="col-md-3"><div class="form-group">
<label class="control-label">Amount received  </label>
{{ form.amountRecieved }}
</div></div>
<div class="col-md-3"><div class="form-group">
<label class="control-label">Interest deducted, if any </label>
{{ form.intrestDeducted }}
</div></div>
<div class="col-md-3"><div class="form-group">
<label class="control-label">TDS amount, if any  </label>
{{ form.tdsAmount }}
</div></div>
</div>

<div class="row odd fld_sm">
<div class="col-md-6"><div class="form-group">
<label class="control-label">Details of issues</label>
{{ form.issues }}

</div></div>
</div>


<div class="row text-center">
<div class="col-md-12"><a class="btn btn-primary" href="rental-advance-2nd-instalment-release.html"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back</a>
<button type="submit" id="mainButton" class="btn btn-primary">Save</button>

</div>
</div>
</form>

</div>
{% endblock content %}
