{% extends 'Base.html' %}

{% block content %}
<div class="col-md-9 white_bg">
<div class="row">
<div class="col-md-12">
  <h1 class="">2<sup>nd</sup> Installment Request</h1></div>
</div>
<form id="w0" method="post" enctype="multipart/form-data">

{% csrf_token %}

<div class="row odd pt-2 mh">

<div class="col-md-3"><div class="form-group">
<label class="control-label">2nd instalment request letter </label>
<select class="form-control req" id="1" required="">
 <option value="select" selected="">- Select -</option>
<option value="Yes">Yes</option>
<option value="No">No</option>
</select>
<div class="clear"></div>
<div class="form-group mt-3 " id="11" style="display: none;" >
<label class="control-label">Provision to upload document </label>
{{ form.secondInstalmentRequestLetterFile }}
</div>
</div></div>

<div class="col-md-3"><div class="form-group">
<label class="control-label">Form GFR 12A </label>
<select class="form-control req" required="" id="2">
 <option value="select" selected="">- Select -</option>
<option value="Yes">Yes</option>
<option value="No">No</option>
</select>
<div class="clear"></div>
<div class="form-group mt-3" style="display:none" id="22">
<label class="control-label">Provision to upload document </label>
{{ form.formGFR12AFile }}
</div>
</div></div>

<div class="col-md-3 "><div class="form-group">
<label class="control-label">Form Format-III</label>
<select class="form-control req" required="" id="3">
 <option value="select" selected="">- Select -</option>
<option value="Yes">Yes</option>
<option value="No">No</option>
</select>
<div class="clear"></div>
<div class="form-group mt-3" style="display:none" id="33">
<label class="control-label">Provision to upload document </label>
    {{ form.formFormat3File }}
</div>
</div></div>

<div class="col-md-3"><div class="form-group">
<label class="control-label">Is interest earned on 1st installment funds nil? </label>
<select class="form-control req" required="" id="4">
 <option value="select" selected="">- Select -</option>
<option value="Yes">Yes</option>
<option value="No">No</option>
</select>
<div class="clear"></div>
<div class="form-group mt-3" style="display:none" id="44">
<label class="control-label">Bank to upload expenditure statement stamped and signed by a bank official and a CA </label>
{{ form.intrestFirstInstallmentFile }}
</div>
</div></div>



</div>

<div class="row odd fld_sm mh">

<div class="col-md-6"><div class="form-group">
<label class="control-label">1<sup>st</sup> instalment amount received</label>
<select class="form-control req" required="" id="5">
 <option value="select" selected="">- Select -</option>
<option value="Yes">Yes</option>
<option value="No">No</option>
</select>
<div class="clear"></div>
<div class="form-group mt-3" style="display:none" id="55">
<label class="control-label">Provision to upload document </label>
{{ form.firstInstallmentAmountFile }}
</div>
</div></div>

<div class="col-md-6"><div class="form-group">
<label class="control-label">Declaration that the terms &amp; conditions of the 1st instalment release   letter, has been met by the bank</label>
<select class="form-control req" required="" id="6">
 <option value="select" selected="">- Select -</option>
<option value="Yes">Yes</option>
<option value="No">No</option>
</select>
<div class="clear"></div>
<div class="form-group mt-3" style="display:none" id="66">
<label class="control-label">Provision to upload document </label>
{{ form.declarationOfBankFile }}
</div>
</div></div>

</div>



<div class="row odd fld_sm mh">

<div class="col-md-6"><div class="form-group">
<label class="control-label">Photos of interior &amp; exterior of the building taken from different angles in broad daylight </label>
<select class="form-control req" required="" id="7">
 <option value="select" selected="">- Select -</option>
<option value="Yes">Yes</option>
<option value="No">No</option>
</select>
<div class="clear"></div>
<div class="form-group mt-3" style="display:none" id="77">
<label class="control-label">Provision to upload photos in word, PDF and image formats </label>
{{ form.photoesOfBuildings }}
</div>
</div></div>

<div class="col-md-6"><div class="form-group">
<label class="control-label">Calculation of notional interest, if interest earned on 1st installment is nil</label>
{{ form.notionalIntrest }}

</div></div>

</div>

<div class="row odd fld_sm">
<div class="col-md-6"><div class="form-group">
<label class="control-label">Approval of DG-NIRDPR to release the funds [to be visible only to NIRDPR, to be uploaded by NIRDPR, not a mandatory field]</label>
{{ form.approvalOfNIRDPR }}

</div></div>

</div>



<div class="row text-center">
<div class="col-md-12"><a class="btn btn-primary" href="2nd-instalment-request.html"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back</a>
<button type="submit" id="mainButton" class="btn btn-primary">Save</button>

</div>
</div>
</form>

</div>
{% endblock content %}