

{% load static %}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>RSETIMIS</title>
   <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Custom CSS -->
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,500&display=swap" rel="stylesheet">
</head>

<body>
<header>
<div class="row m-0 head_sec">
<div class="col-md-2 gov_logo"><img src="{% static 'img/gov-logo.jpg' %}" alt="" ></div>
<div class="col-md-3 nacer_logo text-center"><img src="{% static 'img/nacer-logo.png' %}" alt="" ></div>
<div class="col-md-2 rseti_logo text-center"><img src="{% static 'img/rseti-logo.jpg' %}" alt="" ></div>
<div class="col-md-3 rudseti_logo text-center"><img src="{% static 'img/rudseti.jpg' %}" alt="" ></div>
<div class="col-md-2 nird_logo text-right"><img src="{% static 'img/nird-logo.jpg' %}" alt=""></div>
</div>
<div class="clearfix"></div>
<nav class="navbar navbar-expand-lg navbar-dark bg-light">
<div class="container-fluid adminPages">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">



 <li class="dropdown"> <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false"> <i class="fa fa-user" aria-hidden="true"></i>   User <i class="fa fa-caret-down" aria-hidden="true"></i></a> <ul class="dropdown-menu dropdown-user">
                                            <li><a href="#"><i class="fa fa-key fa-fw"></i> Change Password</a> </li>
                                            <li><a href="#" alt=""><i class="fa fa-sign-out fa-fw"></i> Logout</a> </li>
                                        </ul>
                                    </li>
    </ul>

  </div>
  </div>
</nav>
</header>


<div class="clearfix"></div>

<section class="body_cont">
<div class="container-fluid d-board">
<div class="row">
<div class="col-md-3 sidebar">
<ul>
<div class="panel-group" id="accordion">
  <div class="panel panel-default">

<li><a class="btn-link collapsed" data-toggle="collapse" data-target="#collapseOne1" aria-expanded="false" aria-controls="collapseTwo">Access Management </a>
</li>
<div id="collapseOne1" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="panel-body">
        <ul>
         <li><a  href="{% url 'trust-details.html' %}">Trust Details </a></li>
		   <li><a  href="{% url 'regional-office-details.html' %}">Regional Office Details</a></li>

        </ul>
      </div>
    </div>



  <li><a class="btn-link collapsed" data-toggle="collapse" data-target="#collapseOne2" aria-expanded="false" aria-controls="collapseTwo">Infrastructure </a>
</li>
<div id="collapseOne2" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="panel-body">
        <ul>
         <li><a href="1st-instalment-request.html">1st Instalment Request </a></li>
		 <li><a href="1st-instalment-request_approval.html">1st Instalment Request - Approval </a></li>
		 <li><a  href="{% url 'building-construction-status.html'%}">Building Construction Status</a></li>
		 <li><a  href="building-construction-status_approval.html">Building Construction Status - Approval</a></li>
		  <li><a href="{% url '2nd-instalment-request.html'%}">2nd  Instalment Request</a></li>
		  <li><a href="2nd-instalment-request_approval.html">2nd Instalment Request - Approval </a></li>
		  <li><a href="{% url 'building-visit-view.html'%}">Building Visit</a></li>
		   <li><a href="{% url 'building-completion.html'%}">Building Completion</a></li>

        </ul>
      </div>
    </div>
<li>
    <a class="btn-link" data-toggle="collapse" data-target="#collapseOne3" aria-expanded="true" aria-controls="collapseOne">Finance Management</a>
  </li>

	<div id="collapseOne3" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="panel-body">
        <ul>
          <li><a href="rental-expense-advance.html">Rental Advance </a></li>
          <li><a href="1st-instalment-release.html">1st Instalment Release</a></li>
		  <li><a href="1st-instalment-release_approval.html">1st Instalment Release - Approval</a></li>
          <li><a href="{% url '2nd-instalment-release.html' %}">2nd Instalment Release</a></li>
		  <li><a href="2nd-instalment-release_approval.html">2nd Instalment Release - Approval</a></li>
        </ul>
      </div>
    </div>

      </div>
</div>

</ul>
</div>

{% block content %}{% endblock content %}

</div>
</div>
</div>
</section>

<!-- Footer -->
<footer class="bg-footer text-center">
  <!-- Grid container -->
  <div class="row p-2 m-0">
    <!--Grid row-->


  <!-- Copyright -->
  <strong></strong>
  <div class="col-md-12" >

    <div class="text-center" >
   2021 &copy Designed and  Developed by NIRDPR HYDERABAD.
  </div></div>
 </div>
  <!-- Copyright -->
</footer>

 <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>

    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>

    <script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>

 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

<script>

$(document).ready(function() {

    $('.collapse').on('shown.bs.collapse', function () {
        $(this).prev().addClass('active-acc');
    });

    $('.collapse').on('hidden.bs.collapse', function () {
        $(this).prev().removeClass('active-acc');
    });

});
$(document).ready(function() {
    $('#example').DataTable();
} );

 $(document).ready(function () {
        $('.sidebar').mouseleave(function () {
            //$('.collapse.show').addClass('d');
        },
                function () {
                    $('.collapse.show').removeClass('show');
					 $('.sidebar ul li.active-acc').removeClass('active-acc');
                });
    });



$(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });


</script>

<script>
$(document).ready(function(){
    $('#myselection').on('change', function(){
    	var demovalue = $(this).val();
        $("div.drop_cont").hide();
        $("#show"+demovalue).show();
    });
});
</script>
<style>
.drop_cont{
	display:none;
    padding:0;
}
</style>

</body>
</html>