{% extends 'Base.html' %}

{% block content %}
<div class="col-md-9 white_bg">
<div class="row">
<div class="col-md-12">
  <h1 class="">Building Construction Status  </h1></div>
</div>

<div class="row odd">

<div class="col-md-3"><div class="form-group">
<label class="control-label">Resti Name </label>
<!--<select class="form-control req" required="">-->
<!-- <option value="select" selected="">- Select -</option>-->

<!--</select>-->
    {{ form.rsetiName }}
</div></div>
</div>
<div class="field_set">
<h3>Proposed constructon</h3>
<div class="row pt-2">

<div class="col-md-3"><div class="form-group">
<label class="control-label">Functioning of RSETI </label>
<!--<select class="form-control req" required="">-->
<!-- <option value="select" selected="">- Select -</option>-->
<!--<option value="MoRD funded building">MoRD Funded Building</option>-->
<!--  <option value="rented-government-premises">Rent Government Premises</option>-->
<!--<option value="rent-free government-premises">Rent Free Government Premises</option>-->
<!--<option value="rented private premises">Rented Private Premises</option>-->
<!--<option value="rent free private premises">Rent Free Private Premises</option>-->
<!--<option value="Own building">Own Building</option>-->
<!--<option value="Not functioning">Not Functioning</option>-->
<!--</select>-->
    {{ form.functionOfRseti }}


</div></div>

<div class="col-md-3"><div class="form-group">
<label class="control-label">Land allotment details</label>
<!--<select class="form-control req" required="">-->
<!-- <option value="select" selected="">- Select -</option>-->
<!--<option value="Not allotted">Not alloted</option>-->
<!--<option vaue="allotted">Alloted</option>-->
<!--<option value=" allotted but issues">Allotted but issues</option>-->
<!--<option value="not required – bank’s own land/building">Not required – bank’s own land/building</option>-->
<!--<option value="not eligible ">Not eligible</option>-->
<!--</select>-->
    {{ form.landAllotmentDetails }}
</div></div>

<div class="col-md-3"><div class="form-group">
<label class="control-label">Possession of land</label>
<!--<select class="form-control req" required="">-->
<!-- <option value="select" selected="">- Select -</option>-->
<!--<option value="Not allotted">Possession Taken</option>-->
<!--<option value="Not allotted">Possession not taken</option>-->
<!--</select>-->
    {{ form.possessionOfLand }}
</div></div>

<div class="col-md-3"><div class="form-group">
<label class="control-label">Building Funds Released Details</label>
<!--<select class="form-control req" required="">-->
<!-- <option value="select" selected="">- Select -</option>-->
<!--<option value="not eligible – partnership with others">Not Eligible – partnership with others</option>-->
<!--<option value=" not eligible – additional RSETI in the district">Not Eligible – additional RSETI in the district</option>-->
<!--<option value="not eligible – funded by another department/organization">Not Eligible – funded by another department/organization</option>-->
<!--<option value="not eligible - own building exists">Not Eligible - own building exists</option>-->
<!--<option value="Building - funds needed for renovation of existing own building">Funds needed for renovation of existing own building</option>-->
<!--<option value=" funds needed for new construction">Funds needed for new construction</option>-->
<!--<option value=" directly funded by MoRD">Directly funded by MoRD</option>-->
<!--</select>-->
    {{ form.buildingFundsDetails }}
</div></div>
</div>

</div>

<!--
<div class="field_set">
<h3>Date and amount of Grant-in-Aid releases </h3>
<div class="row odd pt-2">
<div class="col-md-3"><div class="form-group">
<label class="control-label">Select</label>
<select class="form-control req">
 <option value="select" selected="">- Select Installment -</option>
<option value="Yet to start">1st</option>
<option value="In progress">2nd</option>
<option value="Construction has been stopped/blocked">3rd</option>
<option value="Not eligible for MoRD Grant-in-Aid">4th</option>


</select>
</div></div>
<div class="col-md-3"><div class="form-group">
<label class="control-label">Install Amount   </label>
<input type="text" id="" class="form-control req" value="" name="" aria-required="true" aria-invalid="true" required="">
</div></div>
<div class="col-md-3"><div class="form-group">
<label class="control-label">Date</label>
<input type="text" id="" class="form-control req" value="" name="" aria-required="true" aria-invalid="true" required="">

</div></div>
</div>


<div class="row odd">
<div class="col-md-12 text-right"><div class="form-group">
<a class="btn btn-primary" href="#"><i class="fa fa-plus-square-o" aria-hidden="true"></i> Add</a>

</div></div>


</div>

</div>

-->


<div class="row odd mt-5">
<div class="col-md-3"><div class="form-group">
<label class="control-label">Status of building construction </label>
<!--<select class="form-control req">-->
<!-- <option value="select" selected="">- Select -</option>-->
<!--<option value="Yet to start">Yet to start</option>-->
<!--<option value="In progress">In progress</option>-->
<!--<option value="Completed">Completed</option>-->
<!--<option value="Construction has been stopped/blocked">Construction has been stopped</option>-->
<!--<option value="Not eligible for MoRD Grant-in-Aid">Not eligible for MoRD Grant-in-Aid</option>-->
<!--<option value="RSETI closed">RSETI closed</option>-->


<!--</select>-->
{{ form.statusOfBuilding }}
</div></div>

<div class="col-md-3"><div class="form-group">
<label class="control-label">Reason  for delay</label>
<!--<select class="form-control">-->
<!-- <option value="select" selected="">- Select -</option>-->
<!--<option value="State delay – fees">State delay – fees</option>-->
<!--<option value="State delay – approval pending">State delay – approval pending</option>-->
<!--<option value="State delay – land not allotted">State delay – land not allotted</option>-->
<!--<option value="State delay – alternate land awaited">State delay – alternate land awaited</option>-->
<!--<option value="State delay – litigation/court case">State delay – litigation/court case</option>-->
<!--<option value="State delay – encroachment/dispute">State delay – encroachment/dispute</option>-->
<!--<option value="State delay – objection from other department(s)">State delay – objection from other department(s)</option>-->
<!--<option value="Bank delay – approval pending">Bank delay – approval pending</option>-->
<!--<option value="Bank delay – funds">Bank delay – funds</option>-->
<!--<option value="Bank delay – contractor">Bank delay – contractor delay </option>-->
<!--<option value="Other">Other</option>-->

<!--</select>-->
    {{ form.reasonForDelay }}

</div></div>
<div class="col-md-3"><div class="form-group">
<label class="control-label">Other </label>
<!--<textarea id="other" name="other" rows="4" cols="50" class="form-control"></textarea>-->
{{ form.others }}
</div></div>

</div>




<div class="row odd mt-4">
<div class="col-md-3"><div class="form-group">
<label class="control-label">% Completed   </label>
<!--<input type="number" class="form-control" onkeydown="javascript: return event.keyCode === 8 ||-->
<!--event.keyCode === 46 ? true : !isNaN(Number(event.key))" />-->
    {{ form.percentageCompletion }}
</div></div>
<div class="col-md-3"><div class="form-group">
<label class="control-label">Details of progress</label>
<!--<input type="text" id="" class="form-control" value="" name="" aria-required="true" aria-invalid="true" required="">-->
{{ form.progress }}
</div></div>

<div class="col-md-3"><div class="form-group">
<label class="control-label">Photos of construction </label>
<!--<input name="filename" id="myFile" type="file" class="form-control" aria-required="true" aria-invalid="true" required="">-->
{{ form.photoesOfConstruction }}
</div></div>

<div class="col-md-3"><div class="form-group">
<label class="control-label">Expected date of comepltetion</label>
<!--<input type="text" id="" class="form-control" value="" name="" aria-required="true" aria-invalid="true" required="">-->
{{ form.expectedDate }}
</div></div>


</div>

<div class="row odd mh">
<div class="col-md-3"><div class="form-group">
<label class="control-label">Date of completion   </label>
<!--<input type="text" id="" class="form-control" value="" name="" aria-required="true" aria-invalid="true" required="">-->
{{ form.completionDate }}
</div></div>
<div class="col-md-3"><div class="form-group">
<label class="control-label">Is the RSETI operating from the new premises   </label>
<!--<select class="form-control">-->
<!-- <option value="select" selected="">- Select -</option>-->
<!--<option value="Yes">Yes</option>-->
<!--<option value="No">No</option>-->

<!--</select>-->
{{ form.rsetiOperationFromNewPremises }}
</div></div>

<div class="col-md-3"><div class="form-group">
<label class="control-label">Date of Shifting </label>
<!--<input type="text" id="" class="form-control" value="" name="" aria-required="true" aria-invalid="true" required="">-->
{{ form.shiftingDate }}
</div></div>

<div class="col-md-3"><div class="form-group">
<label class="control-label">Reason    </label>
<!--<textarea id="other" name="other" rows="4" cols="50" class="form-control"></textarea>-->
{{ form.reason }}
</div></div>

</div>


<div class="row odd">
<div class="col-md-6"><div class="form-group">
<label class="control-label">Reason for stopping of construction  </label>
<!--<textarea id="other" name="other" rows="4" cols="50" class="form-control"></textarea>-->
{{ form.resonForStopping }}
</div></div>

<div class="col-md-6"><div class="form-group">
<label class="control-label">Steps being taken by the bank to resolve the issue </label>
<!--<textarea id="other" name="other" rows="4" cols="50" class="form-control"></textarea>-->
{{ form.stepsToResolveIssue }}
</div></div>

</div>


<div class="row text-center">
<div class="col-md-12"><a class="btn btn-primary" href="building-construction-status.html"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back</a>
<button type="submit" id="mainButton" class="btn btn-primary">Save</button>

</div>

</div>



</div>
{% endblock content %}