{% extends 'Base.html' %}

{% block content %}
<div class="col-md-9 white_bg">
<div class="row">
<div class="col-md-12">
  <h1 class="">Building Completion</h1></div>
</div>
<form id="w0" method="post" enctype="multipart/form-data">

{% csrf_token %}


<div class="row odd pt-2">


<div class="col-md-3"><div class="form-group">
<label class="control-label">Final GFR 12A </label>
    {{ form.finalGFR12A }}
</div></div>

<div class="col-md-3"><div class="form-group">
<label class="control-label">Final Format-III</label>
{{ form.formFormatIII }}
</div></div>

<div class="col-md-3"><div class="form-group">
<label class="control-label">Building completion certificate </label>
{{ form.buildingCompletionCertificate }}
</div></div>


</div>

<div class="row odd  mh">

<div class="col-md-3"><div class="form-group">
<label class="control-label">Land &amp; building details </label>
{{ form.landAndBuildingDetails }}
</div></div>

<div class="col-md-6"><div class="form-group">
<label class="control-label">Photos of interior &amp; exterior of the building taken from different angles in broad daylight </label>
{{ form.photosOfInteriorAndExteriorOfTheBuildingTaken }}
</div></div>

<div class="col-md-3"><div class="form-group">
<label class="control-label">Upload photos in word, PDF and image  formats</label>
{{ form.photosOfBuilding }}
</div></div>



</div>

<div class="row odd ">

<div class="col-md-3"><div class="form-group">
<label class="control-label">Comments, if any  </label>
    {{ form.commentsIfAny }}
<!--<textarea id="other" name="other" rows="4" cols="50" class="form-control req" aria-required="true" aria-invalid="true" required=""></textarea>-->
</div></div>
<div class="col-md-3"><div class="form-group">
<label class="control-label">Built-up area of the building </label>
    {{ form.BuiltUpArea }}
<!--<select class="form-control req" required="">Photos of interior &amp; exterior of the building taken from different angles in broad daylight-->
<!-- <option value="select" selected="">- Select -</option>-->
<!--<option value="Yes">Greater than 8,000 sqft</option>-->
<!--<option value="No">Less than 8,000 sqft</option>-->
<!--</select>-->
</div></div>



</div>






<div class="row text-center">
<div class="col-md-12"><a class="btn btn-primary" href="building-completion.html"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back</a>
<button type="submit" id="mainButton" class="btn btn-primary">Save</button>

</div>
</form>

</div>
{% endblock content %}