{% extends "base.html" %}
{% block content %}
<div class="col-md-9 white_bg">
<div class="row">
<div class="col-md-12">
  <h1 class="mb-0">Building Visit</h1></div>
</div>
<form id="w0" action="" method="post">


<div class="row odd pt-2 mh">

<div class="col-md-3"><div class="form-group">
<label class="control-label">Date </label>
{{ form.Date }}
</div></div>


</div>



<div class="row odd mt-5">
<div class="col-md-3"><div class="form-group">
<label class="control-label">RSETI site visit undertaken  </label>
{{ form.RsetiSiteVisitTaken}}
</div></div>
<div class="col-md-3"><div class="form-group">
<label class="control-label">Site visit report </label>
{{ form.SiteVisitReport }}
</div></div>
<div class="col-md-3"><div class="form-group">
<label class="control-label">Attendance sheet</label>
{{ form.AttendanceSheet }}
</div></div>
<div class="col-md-3"><div class="form-group">
<label class="control-label">NIRDPR official’s certificate  </label>
{{ form.NirdprOfficialCertificate }}
</div></div>
</div>

<div class="row odd">
<!--div class="col-md-3"><div class="form-group">
<label class="control-label">2nd instalment bank account details </label>
<input name="filename" id="myFile" type="file" class="form-control" aria-required="true" aria-invalid="true" required="">
</div></div-->
<div class="col-md-3"><div class="form-group">
<label class="control-label">Photos of the visit</label>
{{ form.PhotosOfVisit }}
</div></div>
<div class="col-md-3"><div class="form-group">
<label class="control-label">Other documents  </label>
{{ form.OtherDocuments }}
</div></div>
</div>

<!--
<h5>Once the data is submitted by the Nodal Officer, NIRDPR RSETI project staff should be able to do the following</h5>
<div class="row odd">
<div class="col-md-6"><div class="form-group">

<select class="form-control req">
 <option value="select" selected="">- Select -</option>
<option value="View the data">View the data</option>
<option value="Download the data">Download the data</option>

<option value="Bank-wise all data">Bank-wise all data</option>
<option value="">State-wise all data*</option>
<option value="Data based on functioning of RSETIs">Data based on functioning of RSETIs</option>
<option value="Data based on land allotment status">Data based on land allotment status</option>
<option value="Data based on land possession">Data based on land possession</option>
<option value="">Funds released data including interest accrued </option>
<option value="Data based on construction status">Data based on construction status</option>
<option value="Financial year-wise data ">Financial year-wise data </option>
<option value="">Building data </option>
<option value="Data based on SOP compliance">Data based on SOP compliance</option>
<option value="Data based on facilities">Data based on facilities</option>
<option value="Data needs to be extracted based on the present date or based on historical date / time period">Data needs to be extracted based on the present date or based on historical date / time period</option>
<option value="Bankwise summary">Bankwise summary</option>
<option value="Statewise summary">Statewise Summary</option>
</select>
</div></div>
<div class="col-md-3"><div class="form-group">
<a class="btn btn-danger" href="#"><i class="fa fa-download"></i>&nbsp Download Documents</a>
</div></div>

</div>
-->






<div class="row text-center">
<div class="col-md-12"><a class="btn btn-primary" href="building-visit.html"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back</a>
<button type="submit" id="mainButton" class="btn btn-primary">Save</button>

</div>

</div>

</form>
</div>
{% endblock content %}