{% extends 'Base.html' %}

{% block content %}

<div class="col-md-9 white_bg">
<div class="row">
<div class="col-md-12">
  <h1 class="">Building Construction Status</h1></div>
</div>
<table class="table table-bordered" id="example">
    <thead>
    <tr>
        <th>Sl No.</th>
        <th>Institute Code</th>
        <th>Institute Name</th>
        <th>District</th>
        <th>Director Name</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>

    <tr>
        <td> 1</td>
		<td>1234</td>
        <td>SBIRSETI</td>
        <td>Hyderabad</td>
        <td>Naveen</td>

        <td>
            <a class="view_icn icn_cta" href="#"><i class="fa fa-eye" aria-hidden="true"></i></a>
             <a class="edit_icn icn_cta" href="{% url 'building-construction-status-view.html' %}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>

        </td>

    </tr>

    </tbody>
</table>

</div>
{% endblock content %}
