{% extends 'Base.html' %}

{% block content %}
<div class="col-md-9 white_bg fld_sm">
<div class="row">
<div class="col-md-12">
  <h1 class="mb-0">Regional Office Details</h1></div>
</div>
<form id="w0" action="/new1/" method="post">

  {% csrf_token %}

<div class="field_set mb-4">
                    <h3>RSETI controlling/zonal/regional office details</h3>

					<div class="row odd mt-2 mh">


<div class="col-md-3"><div class="form-group">
<label class="control-label">Name of resti</label>
<input type="text" id="" class="form-control req" value="" name="name_of_rseti" aria-required="true" aria-invalid="true" required="">
</div></div>

<div class="col-md-3"><div class="form-group">
<label class="control-label">House No</label>
<input type="text" id="" class="form-control req" value="" name="house_no" aria-required="true" aria-invalid="true" required="">
</div></div>


<div class="col-md-3"><div class="form-group">
<label class="control-label">Street</label>
<input type="text" id="" class="form-control req" value="" name="street" aria-required="true" aria-invalid="true" required="">

</div></div>



<div class="col-md-3"><div class="form-group">
<label class="control-label">GP/Village</label>
<input type="text" id="" class="form-control req" value="" name="village" aria-required="true" aria-invalid="true" required="">
</div></div>
</div>


<div class="row odd">
<div class="col-md-3"><div class="form-group">
<label class="control-label">State</label>
<select class="form-control req" name="statedrop2" id="statedrop2">
 <option value=" ">--Select State--</option>

 {% for state in states %}
 <option value="{{state.id}}">{{state.state_name }}</option>
  {% endfor %}

</select>

</div></div>


<div class="col-md-3"><div class="form-group req">
<label class="control-label">Distrist Taluka</label>
<!--<input type="text" id="" class="form-control req" value="" name="district" aria-required="true" aria-invalid="true" required="">-->
<select class="form-control req" name= "districtdrop2" id="districtdrop2">

</select>
</div></div>



<div class="col-md-3"><div class="form-group">
<label class="control-label">Pincode</label>
<input type="text" id="" class="form-control req" value="" name="pincode" aria-required="true" aria-invalid="true" required="">
</div></div>



<div class="col-md-3"><div class="form-group">
<label class="control-label">Office email address</label>
<input type="text" id="" class="form-control req" value="" name="office_email" aria-required="true" aria-invalid="true" required="">

</div></div>

</div>

<div class="row odd">
<div class="col-md-3">
<div class="form-group">
<label class="control-label">Name of the concerned official</label>
<input type="text" id="" class="form-control req" value="" name="concerned_official" aria-required="true" aria-invalid="true" required="">
</div>
</div>

<div class="col-md-3"><div class="form-group">
<label class="control-label">Designation </label>
<input type="text" id="" class="form-control req" value="" name="designation" aria-required="true" aria-invalid="true" required="">

</div></div>

<div class="col-md-3"><div class="form-group">
<label class="control-label">Mobile number </label>
<input type="text" id="" class="form-control req" value="" name="mobile_no" aria-required="true" aria-invalid="true" required="">
</div></div>

<div class="col-md-3"><div class="form-group">
<label class="control-label">Landline number</label>
<input type="text" id="" class="form-control req" value="" name="landline_no" aria-required="true" aria-invalid="true" required="">
</div></div>
</div>
<div class="row odd">
<div class="col-md-3"><div class="form-group">
<label class="control-label">Email address </label>
<input type="text" id="" class="form-control req" value="" name="email_add" aria-required="true" aria-invalid="true" required="">

</div></div>

<div class="col-md-3"><div class="form-group">
<label class="control-label">Are details of the RSETI up to date</label>
<select class="form-control req" name="details_update">
 <option value="select" selected="">- Select -</option>
<option value="Yes">Yes</option>
<option value="No">No</option>
</select>

</div></div>
</div>










</div>
<div class="row text-center">
<div class="col-md-12"><a class="btn btn-primary" href="#"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back</a>
<button type="submit" id="mainButton" class="btn btn-primary">Save</button>

</div>

</div>
</form>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
$(document).ready(function() {
     $("#statedrop2").change(function(){
                var e = document.getElementById("statedrop2").value;
                console.log(e);
                $.ajax({                       // initialize an AJAX request
                    url: '/loadDistricts',
                    data: {

                    'e':e
                    },
                    success: function (result) {// `data` is the return of the `load_courses` view function
                        $("#districtdrop2").html(result);  // replace the contents of the course input with the data that came from the server
                    }
                });
                });
</script>
{% endblock content %}
