
{% extends 'Base.html' %}

{% block content %}
<div class="col-md-9 white_bg fld_sm">
<div class="row">
<div class="col-md-12">
  <h1 class="mb-0">Trust Details</h1></div>
</div>
<form id="w0" action="/new/" method="post">
  {% csrf_token %}
<div class="field_set mb-4">
                    <h3>Details of sponsor banks</h3>
<div class="row odd mt-2">

<div class="col-md-6"><div class="form-group">
<label class="control-label">Name of the Bank</label>
<input type="text" id="" class="form-control req" value="" name="bank_name" aria-required="true" aria-invalid="true" required="">


</div></div>

<div class="col-md-6"><div class="form-group">
<label class="control-label">Postal address of Bank's RSETI head office </label>
<input type="text" id="" class="form-control req" value="" name="postal_address" aria-required="true" aria-invalid="true" required="">
</div></div>
</div>
<div class="row odd">
<div class="col-md-6"><div class="form-group">
<label class="control-label">Name of the department handling RSETI matters at head office</label>
<input type="text" id="" class="form-control req" value="" name="rseti_department" aria-required="true" aria-invalid="true" required="">
</div></div>

<div class="col-md-6"><div class="form-group">
<label class="control-label">Postal address of that department, if different from head office</label>
<input type="text" id="" class="form-control" value="" name="department_address" >
</div></div>


</div>

<div class="row odd">

<div class="col-md-6"><div class="form-group">
<label class="control-label">Details of the top executive (official handling RSETI matters at HO / ZO / CO level to whom nodal officer reports)</label>
<input type="text" id="" class="form-control req" value="" name="top_executives" aria-required="true" aria-invalid="true" required="">


</div></div>

<div class="col-md-6"><div class="form-group">
<label class="control-label">Office landline number</label>
<input type="text" id="" class="form-control req" value="" name="landline_number" aria-required="true" aria-invalid="true" required="">
</div></div>
</div>


<div class="row odd">

<div class="col-md-6"><div class="form-group">
<label class="control-label">Office email address</label>
<input type="text" id="" class="form-control req" value="" name="address" aria-required="true" aria-invalid="true" required="">
</div></div>


</div>




</div>


<div class="field_set mb-4">
                    <h3>Trust/society account details</h3>
<div class="row odd mt-2 mh">

<div class="col-md-3"><div class="form-group">
<label class="control-label">Name of the trust <span class="red" style="color:red;font-weight:300">(* Ensure correct spelling as per the records)</span></label>
<input type="text" id="name_of_the_trust" class="form-control req" value="" name="name_of_the_trust" aria-required="true" aria-invalid="true" required="">


</div></div>


<div class="col-md-3"><div class="form-group">
<label class="control-label">House No</label>
<input type="text" id="" class="form-control req" value="" name="house_no" aria-required="true" aria-invalid="true" required="">
</div></div>


<div class="col-md-3"><div class="form-group">
<label class="control-label">Street</label>
<input type="text" id="" class="form-control req" value="" name="street" aria-required="true" aria-invalid="true" required="">

</div></div>



<div class="col-md-3"><div class="form-group">
<label class="control-label">GP/Village</label>
<input type="text" id="" class="form-control req" value="" name="village" aria-required="true" aria-invalid="true" required="">
</div></div>
</div>

<div class="row odd">
<div class="col-md-3"><div class="form-group">
<label class="control-label">State</label>
<select class="form-control req" name="statedrop" id="statedrop" >

<option value=" " >--Select State--</option>
{% for state in states %}
<option value="{{state.id}}" >{{state.state_name}}</option>
{% endfor %}
</select>

</div></div>



<div class="col-md-3"><div class="form-group req">
<label class="control-label">Distrist Taluka</label>
<!--<input type="text" id="" class="form-control req" value="" name="district" aria-required="true" aria-invalid="true" required="">-->
<select class="form-control req" name= "districtdrop" id="districtdrop">

</select>
</div></div>



<div class="col-md-3"><div class="form-group">
<label class="control-label">Pincode</label>
<input type="text" id="" class="form-control req" value="" name="pincode" aria-required="true" aria-invalid="true" required="">
</div></div>

<div class="col-md-3"><div class="form-group">
<label class="control-label">Bank account number of the trust / society</label>
<input type="text" id="" class="form-control req" value="" name="bank_acc_no" aria-required="true" aria-invalid="true" required="">

</div></div>

</div>

<div class="row odd ">

<div class="col-md-3"><div class="form-group">
<label class="control-label">Name of the branch </label>
<input type="text" id="" class="form-control req" value="" name="bank_name" aria-required="true" aria-invalid="true" required="">
</div></div>

<div class="col-md-3"><div class="form-group">
<label class="control-label">Type of bank account</label>
<select class="form-control req" required="" name="back_acc_type">
 <option value="select" selected="">- Select -</option>
 <option value="Yes">Current</option>
 <option value="No">Saving</option>

</select>

</div></div>



<div class="col-md-3"><div class="form-group">
<label class="control-label">IFS code of the bank account </label>
<input type="text" id="" class="form-control req" value="" name="back_acc_ifs" aria-required="true" aria-invalid="true" required="">
</div></div>

<div class="col-md-3"><div class="form-group">
<label class="control-label">Certificate of registration</label>
<input type="file" id="myFile" name="registration_certificate" class="form-control"  required="">

</div></div>

</div>

<div class="row odd mh">

<div class="col-md-3"><div class="form-group">
<label class="control-label">Upload PAN card</label>
<input type="file" id="myFile" name="pan_card" class="form-control"  required="">

</div></div>


<div class="col-md-3"><div class="form-group">
<label class="control-label">IT exemption certificate (Form 197), if available</label>
<input type="file" id="myFile" name="it_exemption" class="form-control"  required="">

</div></div>



<div class="col-md-6"><div class="form-group">
<label class="control-label">MoU between bank / trust and NIRDPR (provision for uploading more than one document)</label>
<input type="file" id="myFile" name="mou_file" class="form-control"  required="">

</div></div>


</div>



</div>





<div class="row text-center">
<div class="col-md-12"><a class="btn btn-primary" href="#"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back</a>
<button type="submit" id="mainButton" class="btn btn-primary">Save</button>

</div>

</div>
</form>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>

    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>

    <script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>

 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
$(document).ready(function() {
     $("#statedrop").change(function(){
                var e = document.getElementById("statedrop").value;
                console.log(e);
                $.ajax({                       // initialize an AJAX request
                    url: '/loadDistricts',
                    data: {
                    Console.log("hi");
                    'e':e
                    },
                    success: function (result) {// `data` is the return of the `load_courses` view function
                        $("#districtdrop").html(result);  // replace the contents of the course input with the data that came from the server
                    }
                });
     });
});
</script>
{% endblock content %}

